html {
  background-color: rgb(47, 47, 47);
  width: 100%;
}

body {
  width: 412px;
  height: 732px;
  background-color: #bbbbbb;
}

form * {
  margin: auto;
}

input, label, button {
  display: block;
  margin: auto;
  padding: 10px;
  width: 80%;
}

#titleForm input {
  float: left;
}

#authorForm input {
  float: left;
}

#titleForm, #authorForm {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

#search-button {
  background-color: black;
  color: white;
  font-size: 15px;
  text-decoration: italic;
  text-align: center;
  margin: auto;

  padding: 15px;
}

.bar {
  background-color: #44434307;
  color: white;
  text-align:center;
  padding: 8px;
  font-size: 16px; 
  width: 80%;
  margin: auto;
}

#best {
background-color: black;
color:white;
font-size: 24px;
padding: 16px;
}

.results-container {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  margin: 28px;
  padding: 32px;;
  border: solid 2px #888888;
  border-radius: 2px;
}

.image-container {
  text-align: center;
}

.title {
  text-align:center;
  font-size: 32px;
  margin: 18px;
}

.author {
  font-size: 20px;
  color: #424141;
  text-decoration: italic;
  margin-bottom: 24px;
  text-align: center;
}

.images {
  width: 60%;
}

.title {
  align-items: center;
}

.description {
  height: 80px;
  overflow-y: auto;
}

.showPage * {
  padding-bottom: 20px;
}