<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="styles/styles.css"> -->
  <title>Book App</title>
  <link href="https://fonts.googleapis.com/css2?family=Helevectiva:wght@200&display=swap" rel="stylesheet">
  <link href="/styles/reset.css" rel="stylesheet">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/layout.css" rel="stylesheet">
  <link href="/styles/modules.css" rel="stylesheet">
</head>

<body>


  <header id="best">
    Best Books!
  </header>

  <main>
    <h1 class="bar">Search by Title or Author</h1>
    <div class="book-api-container">
      <div class="selection-container">
    <form action="/show" method="POST">
        <input id="text-input" type="text" placeholder="Enter a title or author" name="select" required>
       
        <div id="titleForm">
        <label for="title">Title</label>
        <input type="radio" name="select" value="title" required>
      </div>
      <div id="authorForm">   
        <label for="author">Author</label>
        <input type="radio" name="select" value="author" required>
      </div>
        <button type="submit" id="search-button">Search the Google Books API</button>
    </form>
      </div>
    </div>
  </main>

  </form>

</body>

</html>